<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="jdbc:mysql://localhost:3306/bookstore">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="admin"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/zzz/bookstore/entity/Typee.hbm.xml</value>
				<value>com/zzz/bookstore/entity/Users.hbm.xml</value>
				<value>com/zzz/bookstore/entity/Book.hbm.xml</value>
				<value>com/zzz/bookstore/entity/Orders.hbm.xml</value></list>
		</property></bean>
		
		<!-- dao创建 -->
		<bean id="basedao" class="com.zzz.bookstore.dao.impl.BaseDaoImpl">
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>		
		<bean id="bdao" class="com.zzz.bookstore.dao.impl.BookDaoImpl" parent="basedao"></bean>
		<bean id="udao" class="com.zzz.bookstore.dao.impl.UsersDaoImpl" parent="basedao"></bean>
		<bean id="odao" class="com.zzz.bookstore.dao.impl.OrdersDaoImpl" parent="basedao"></bean>
		<bean id="tdao" class="com.zzz.bookstore.dao.impl.TypeeDaoImpl" parent="basedao"></bean>
		
		<!-- biz的创建 -->
		<bean id="basebiz" class="com.zzz.bookstore.biz.impl.BaseBizImpl">
			<property name="bdao" ref="basedao"></property>
		</bean>
		<bean id="bbiz" class="com.zzz.bookstore.biz.impl.BookBizImpl" parent="basebiz">
			<property name="bdao" ref="bdao"></property>
		</bean>
		<bean id="ubiz" class="com.zzz.bookstore.biz.impl.UsersBizImpl" parent="basebiz">
			<property name="udao" ref="udao"></property>
		</bean>
		<bean id="tbiz" class="com.zzz.bookstore.biz.impl.TypeeBizImpl" parent="basebiz">
			<property name="tdao" ref="tdao"></property>
		</bean>
		<bean id="obiz" class="com.zzz.bookstore.biz.impl.OrdersBizImpl" parent="basebiz">
			<property name="odao" ref="odao"></property>
		</bean>
		
			<!-- action的创建 -->
		<bean id="bookspring" class="com.zzz.bookstore.action.BookAction">
			<property name="bbiz" ref="bbiz"></property>
		</bean>
		<bean id="loginspring" class="com.zzz.bookstore.action.LoginAction">
			<property name="ubiz" ref="ubiz"></property>
		</bean>
		
		
		
		</beans>